In [13]:
%load_ext cypher
%matplotlib inline

In [14]:
!curl -s http://localhost:7474/db/data/ | grep neo4j_version

  "neo4j_version" : "3.5.11"

## Creamos los nodos principales con sus atributos

In [3]:
%%cypher

CREATE (norwegian:Person {name: 'Norwegian'})
CREATE (british:Person {name: 'British'})
CREATE (swede:Person {name: 'Swede'})
CREATE (dane:Person {name: 'Dane'})
CREATE (german:Person {name: 'German'})
CREATE (dog:Pet {name: 'Dog'})
CREATE (birds: Pet {name: 'Birds'})
CREATE (horse: Pet   {name: 'Horse'})
CREATE (cat: Pet   {name: 'Cat'})
CREATE (fish: Pet   {name: 'Fish'})
CREATE (tea:Beverage {name: 'Tea'})
CREATE (coffee:Beverage {name: 'Coffee'})
CREATE (milk:Beverage {name: 'Milk'})
CREATE (beer:Beverage {name: 'Beer'})
CREATE (water:Beverage {name: 'Water'})
CREATE (pallmall:Tobacco {name: 'PallMall'})
CREATE (dunhill:Tobacco {name: 'Dunhill'})
CREATE (blends:Tobacco {name: 'Blends'})
CREATE (bluemaster:Tobacco {name: 'BlueMaster'})
CREATE (prince:Tobacco {name: 'Prince'})
CREATE (red:House {name: 'Red', position: 'Third'}), (green:House {name: 'Green', position: 'Fourth'})
CREATE (white:House {name: 'White', position: 'Fifth'})
CREATE (yellow:House {name: 'Yellow',  position: 'First'})
CREATE (blue:House {name: 'Blue',  position: 'Second'})

25 nodes created.
30 properties set.
25 labels added.

[]

<img src= "Taller_BBDD/neo4j/imagenes/Primera imagen.png">

In [ ]:
## Añadimos a los nodos las relaciones que ya conocemos

In [4]:
%%cypher
MATCH (british:Person {name: 'British'}), 
    (red:House { name: 'Red' })
CREATE (british)-[: LIVES]->(red)

1 relationships created.

[]

In [5]:
%%cypher
MATCH (dane:Person {name: 'Dane'}), 
    (tea: Beverage { name: 'Tea' })
CREATE (dane)-[: DRINKS]->(tea)

1 relationships created.

[]

In [6]:
%%cypher
MATCH (swede:Person {name: 'Swede'}), 
    (dog:Pet { name: 'Dog' })
CREATE (swede)-[: HAS]->(dog)

1 relationships created.

[]

In [7]:
%%cypher
MATCH (norwegian:Person {name: 'Norwegian'}), 
    (first: House { position: 'First' })
CREATE (norwegian)-[: LIVE]->(first)

1 relationships created.

[]

In [8]:
%%cypher
MATCH (german:Person {name: 'German'}), 
    (prince: Tobacco{ name: 'Prince' })
CREATE (german)-[: SMOKES]->(prince)

1 relationships created.

[]

In [9]:
%%cypher
MATCH (green: House {name: 'Green'}), 
    (white: House { name: 'White' })
CREATE (green)-[: TOTHELEFTOF]->(white)

1 relationships created.

[]

In [10]:
%%cypher
MATCH (green: House {name: 'Green'}), 
    (coffee: Beverage { name: 'Coffee' })
CREATE (green)-[:SAMEPERSONDRINKS]->(coffee)

1 relationships created.

[]

In [11]:
%%cypher
MATCH (pallmall: Tobacco {name: 'PallMall'}), 
    (birds: Pet { name: 'Birds' })
CREATE (pallmall)-[:SAMEPERSONHAS]->(birds)

1 relationships created.

[]

In [12]:
%%cypher
MATCH (yellow: House {name: 'Yellow'}), 
    (dunhill: Tobacco { name: 'Dunhill' })
CREATE (yellow)-[:SAMEPERSONSMOKES]->(dunhill)

1 relationships created.

[]

In [13]:
%%cypher
MATCH (red: House {name: 'Red'}), 
    (milk: Beverage { name: 'Milk' })
CREATE (red)-[:SAMEPERSONDRINKS]->(milk)

1 relationships created.

[]

In [14]:
%%cypher
MATCH (blends: Tobacco {name: 'Blends'}), 
    (cat: Pet { name: 'Cat' })
CREATE (blends)-[:SAMEPERSONLIVESNEXT]->(cat)

1 relationships created.

[]

In [15]:
%%cypher
MATCH (horse: Pet {name: 'Horse'}), 
    (dunhill: Tobacco { name: 'Dunhill' })
CREATE (horse)-[ :SAMEPERSONLIVESNEXT ]->(dunhill)

1 relationships created.

[]

In [16]:
%%cypher
MATCH (blends: Tobacco {name: 'Blends'}), 
    (water: Beverage { name: 'Water' })
CREATE (blends)-[ :SAMEPERSONNEIGHBOR ]->(water)

1 relationships created.

[]

In [17]:
%%cypher
MATCH (bluemaster: Tobacco {name: 'BlueMaster'}), 
    (beer: Beverage { name: 'Beer' })
CREATE (bluemaster)-[ :SAMEPERSONDRINKS]->(beer)

1 relationships created.

[]

In [18]:
%%cypher
MATCH (norwegian: Person {name: 'Norwegian'}), 
    (blue: House { name: 'Blue' })
CREATE (norwegian)-[ :LIVESNEXT]->(blue)

1 relationships created.

[]

## Resolución del problema, añadimos las relaciones que faltan

In [19]:
%%cypher
MATCH (norwegian: Person {name: 'Norwegian'}), 
    (yellow: House { name: 'Yellow' })
CREATE (norwegian)-[ :LIVES]->(yellow)

1 relationships created.

[]

In [20]:
%%cypher
MATCH (norwegian: Person {name: 'Norwegian'}), 
    (water: Beverage { name: 'Water' })
CREATE (norwegian)-[ :DRINKS]->(water)

1 relationships created.

[]

In [21]:
%%cypher
MATCH (norwegian: Person {name: 'Norwegian'}), 
    (dunhill: Tobacco { name: 'Dunhill' })
CREATE (norwegian)-[ :SMOKES]->(dunhill)

1 relationships created.

[]

In [22]:
%%cypher
MATCH (norwegian: Person {name: 'Norwegian'}), 
    (cat: Pet { name: 'Cat' })
CREATE (norwegian)-[ :HAS]->(cat)

1 relationships created.

[]

In [23]:
%%cypher
MATCH (british: Person {name: 'British'}), 
    (milk: Beverage {name: 'Milk' })
CREATE (british)-[ :DRINKS]->(milk)

1 relationships created.

[]

In [35]:
%%cypher
MATCH (british: Person {name: 'British'}), 
    (pallmall: Tobacco {name: 'PallMall' })
CREATE (british)-[ :SMOKES]->(pallmall)

1 relationships created.

[]

In [25]:
%%cypher
MATCH (british: Person {name: 'British'}), 
    (birds: Pet {name: 'Birds' })
CREATE (british)-[ :HAS]->(birds)

1 relationships created.

[]

In [26]:
%%cypher
MATCH (dane: Person {name: 'Dane'}), 
    (red: House { name: 'Red' })
CREATE (dane)-[ :LIVES]->(red)

1 relationships created.

[]

In [27]:
%%cypher
MATCH (dane: Person {name: 'Dane'}), 
    (blends: Tobacco { name: 'Blends' })
CREATE (dane)-[ :SMOKES]->(blends)

1 relationships created.

[]

In [37]:
%%cypher
MATCH (dane: Person {name: 'Dane'}), 
    (horse: Pet   {name: 'Horse'})
CREATE (dane)-[ :HAS]->(horse)

1 relationships created.

[]

In [29]:
%%cypher
MATCH (german: Person {name: 'German'}), 
    (green: House {name: 'Green' })
CREATE (german)-[ :LIVES]->(green)

1 relationships created.

[]

In [30]:
%%cypher
MATCH (german: Person {name: 'German'}), 
    (coffee: Beverage {name: 'Coffee' })
CREATE (german)-[ :DRINKS]->(coffee)

1 relationships created.

[]

In [31]:
%%cypher
MATCH (german: Person {name: 'German'}), 
    (fish: Pet {name: 'Fish' })
CREATE (german)-[ :HAS]->(fish)

1 relationships created.

[]

In [32]:
%%cypher
MATCH (swede: Person {name: 'Swede'}), 
    (white: House {name: 'White' })
CREATE (swede)-[ :LIVES]->(white)

1 relationships created.

[]

In [33]:
%%cypher
MATCH (swede: Person {name: 'Swede'}), 
    (beer: Beverage {name: 'Beer' })
CREATE (swede)-[ :DRINKS]->(beer)

1 relationships created.

[]

In [36]:
%%cypher
MATCH (swede: Person {name: 'Swede'}), 
    (bluemaster: Tobacco {name: 'BlueMaster' })
CREATE (swede)-[ :SMOKES]->(bluemaster)

1 relationships created.

[]